@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dreamt Game</h1>
    <h1><a asp-action="Game">Play Game</a></h1>
    <h1><a asp-action="Options">Options</a></h1>
</div>
